@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary-50: hsl(142, 69%, 95%);
  --color-primary-100: hsl(142, 69%, 85%);
  --color-primary-300: hsl(142, 69%, 75%);
  --color-primary-400: hsl(142, 69%, 65%);
  --color-primary-500: hsl(142, 69%, 58%);
  --color-primary-600: hsl(142, 69%, 48%);
  --color-primary-700: hsl(142, 69%, 38%);
}
 